<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>[Kezbek Info] - Congratulations, You're Getting Cashback</title>
  </head>
  <body style="text-align: center">
    <p><b>Hi Kezbekser,</b></p>
    <p>Congratulations, You're getting</p>
    <span style="font-size:18pt;color: red;">IDR {{cashback.cashbackTotal}} cashback</span>
    <p>from last transaction using Kezbek Promo.</p><br>
    <p>Cask Back already send to your e-wallet. </p>
</body>
</html>
